Package: libinto-doc
Version: %%VERSION%%
Section: non-free/doc
Priority: extra
Maintainer: Intopii Support <support@intopii.fi>
Architecture: all
Recommends: libinto-dev
Description: Intopii Pattern Recognition Platform developer documentation
 This package contains API documentation of the INTO. It is next
 to necessary for developing applications with the INTO.
