<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.intopii.Into.pkg</string>
	<key>IFPkgFlagAllowBackRev</key>
	<true/>
	<key>IFPkgFlagDefaultLocation</key>
	<string>/Developer</string>
	<key>IFPkgFlagRootVolumeOnly</key>
	<true/>
</dict>
</plist>
