Package: libinto
Version: %%VERSION%%
Section: non-free/libs
Priority: extra
Maintainer: Intopii Support <support@intopii.fi>
Architecture: %%ARCH%%
Depends: libc6, libpng12-0, libsm6, libice6, libxi6, libxrender1, libxrandr2, libxcursor1, libxinerama1, libfreetype6, libfontconfig1, libxext6, libx11-6, zlib1g, libstdc++6, libxfixes3, libexpat1, libxau6, libglib2.0-0, libjpeg62
Suggests: libinto-dev
Description: Intopii Pattern Recognition Platform run-time libraries
 This package provides the binaries needed for run-time operation
 of the Intopii Pattern Recognition Platform (INTO). For development,
 install the libinto-dev package.
