Package: libinto-dev
Version: %%VERSION%%
Section: non-free/devel
Priority: extra
Maintainer: Intopii Support <support@intopii.fi>
Architecture: all
Depends: libinto (= %%VERSION%%)
Recommends: libinto-doc
Description: Intopii Pattern Recognition Platform development files
 This package provides the development headers necessary to compile
 software that uses the INTO libraries.
